

#mainContainer{
  width: 325px;
  height: 600px;
  margin: 100px auto;
}

#view{
  padding: 10px 15px 5px 0;
  margin: 0;
  height: 100px;
  background-color: #444444;
  text-align: right;
  font-size: 55px;
  color: white;
  font-family: Arial;
  font-weight: 300;

}

.container {
  width: 100%;
  max-width: 500px;
  padding:0;
}
.row {

}
.btn {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 20px 10px 20px 10px;
  border: none;
  border: 1px solid #999999;
  background-color: #eeeeee;
  font-size: 25px;
  font-weight: 300;

}

.number:hover, .extraOperations:hover, #decimal:hover{
  color: #eeeeee;
  background-color: #888888;
}


.col-xs-3, .col-xs-6{
  margin: 0;
  padding: 0;
}

.operations{
  background-color: purple;
  color: white;
  font-size: 25px;
}

.operations:hover{
  color: white;
  background-color: magenta;
}
